{## Sends the request to the micro_judo.py server#}
{#socket.send_pyobj()#}
{##}
{##}
{## Receives reply from the micro_judo.py server#}
{#message = socket.recv_pyobj()#}

{#<table class="table">#}
{#  <thead>#}
{#    <tr>#}
{#      <th scope="col">#</th>#}
{#      <th scope="col">First</th>#}
{#      <th scope="col">Last</th>#}
{#      <th scope="col">Handle</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#    <tr>#}
{#      <th scope="row">1</th>#}
{#      <td>Mark</td>#}
{#      <td>Otto</td>#}
{#      <td>{{ search }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">2</th>#}
{#      <td>Jacob</td>#}
{#      <td>Thornton</td>#}
{#      <td>{{ search }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">3</th>#}
{#      <td colspan="2">Larry the Bird</td>#}
{#      <td>{{ search }}</td>#}
{#    </tr>#}
{#  </tbody>#}
{#</table>#}
{% if search == [] %}
    <h1>There are no fighters with Olympic medals in this category</h1>
{% else %}
    <h3> {{ search }}</h3>
{% endif %}
